<div class="sc-codeblock" {{ with .Type }}data-lang="{{ . }}"{{ end }}>
  <div class="code-actions">
    {{- if and .Type (ne .Type "fallback") (ne .Type "text") -}}
    <button class="code-copy-btn code-action" onclick="copyCode(this)">
      <i class="fa-regular fa-copy"></i> COPY
    </button>
    <span class="code-lang-label code-action">{{ .Type | upper }}</span>
    {{- else -}}
    <button class="code-copy-btn code-action" onclick="copyCode(this)">
      <i class="fa-regular fa-copy"></i> COPY
    </button>
    {{- end -}}
  </div>
  <div class="code-select-area">
    {{- (transform.HighlightCodeBlock . .Options).Wrapped | safeHTML -}}
  </div>
</div>
