// =====================
// Variables
// =====================
$padding-24: 1.5rem;
$padding-48: 3rem;
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-40: 2.5rem;
$border-radius: 0.25rem;
